<?xml version="1.0"?>
<!--
  ~ @author Artemii Karkusha
  ~ @copyright Copyright (c) (https://www.linkedin.com/in/artemiy-karkusha/)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ArtemiiKarkusha_DesignPatterns"/>
</config>
