<?xml version="1.0"?>
<!--
  ~ @author Artemii Karkusha
  ~ @copyright Copyright (c) Artemii Karkusha
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Maestro\DesignPatterns\Api\FactoryMethod\FoodFactoryMethodInterface"
                type="Maestro\DesignPatterns\Service\FactoryMethod\FoodFactoryMethod"/>

    <type name="Maestro\DesignPatterns\Service\AbstractFactory\KitchenAbstractFactory">
        <arguments>
            <argument name="foodsFactoryForKitchens" xsi:type="array">
                <item name="americanFoodFactory"
                      xsi:type="object">Maestro\DesignPatterns\Service\AbstractFactory\AmericanFoodFactoryMethod</item>
                <item name="ukrainianFoodFactory"
                      xsi:type="object">Maestro\DesignPatterns\Service\AbstractFactory\UkrainianFoodFactoryMethod</item>
                <item name="japaneseFoodFactory"
                      xsi:type="object">Maestro\DesignPatterns\Service\AbstractFactory\JapaneseFoodFactoryMethod</item>
            </argument>
        </arguments>
    </type>


    <preference for="Maestro\DesignPatterns\Api\Prototype\CarInterface"
                type="Maestro\DesignPatterns\Model\Prototype\Car"/>
    <preference for="Maestro\DesignPatterns\Api\Adapter\NovaPoshtaAdapterInterface"
                type="Maestro\DesignPatterns\Service\Adapter\NovaPoshtaAdapter"/>
</config>
