<?xml version="1.0"?>
<!--
  ~ @author Artemii Karkusha
  ~ @copyright Copyright (c) Artemii Karkusha
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="design_patterns" frontName="design_patterns">
            <module name="Maestro_DesignPatterns"/>
        </route>
    </router>
</config>
